asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.0.8
django-crispy-forms==1.9.2
djangorestframework==3.11.0
idna==2.10
Markdown==3.2.2
numpy==1.18.1
pgzero==1.2
Pillow==7.2.0
pygame==1.9.6
pytesseract==0.3.4
pytz==2020.1
requests==2.24.0
sqlparse==0.3.1
urllib3==1.25.9
virtualenv==16.7.8
requests